.container_topo {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagemTopo {
    width: 120px;
    height: 40px;
}

.linksTopo {
    text-decoration: none;
    color: #4a4a4a;
}

.linksTopo:hover {
    color: #000000;
}

.nav_area {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 375px) {
    .container_topo {
        background-color: gold;
    }
}