.container_base {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_sobre {
    background-color: #F6F6F6;
}

.container_contato {
    background-color: #05031B;
}
